@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  color-scheme: dark;
}

.logo {
  background-position: center;
  background-image: url('https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.4.1/mercadolibre/logo__large_plus.png');
  overflow: hidden;
  text-indent: -999px;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
}
